<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
</head>

<body>
    <p>
    <h1><%= user.full_name %></h1>
    <a href="/logout">Logout</a>
    </p>
    <hr>

    <!-- TODO: Display Registered Courses -->
    <!-- Show: Course ID, Name, Credits, Slot -->
    <!-- Action: Drop Button -->
    <h2>Registered Courses</h2>
    <table>
        <tr>
            <th>courseid</th>
            <th>coursename</th>
            <th>credits</th>
            <th>slot</th>
            <th>action</th>
        </tr>
        <% registered_courses.forEach(course => { %>
        <tr>
            <td><%= course.course_id %></td>
            <td><%= course.name %></td>
            <td><%= course.credits %></td>
            <td><%= course.slot %></td>
            <td>
                <form method="POST" action="/student/drop">
                    <input type="hidden" name="course_id" value="<%= course.course_id %>">
                    <button type="submit">Drop</button>
                </form>
            </td>
        </tr>
        <% }) %>
       
    </table>




    <!-- TODO: Display Available Courses -->
    <!-- Show: Course ID, Name, Credits, Slot, Capacity -->
    <!-- Action: Register Button -->
    <h2>Available Courses</h2>
    <table>
        <tr>
            <th>courseid</th>
            <th>coursename</th>
            <th>credits</th>
            <th>slot</th>
            <th>capacity</th>
            <th>action</th>
        </tr>
        <% available_courses.forEach(course => { %>
        <tr>
            <td><%= course.course_id %></td>
            <td><%= course.name %></td>
            <td><%= course.credits %></td>
            <td><%= course.slot %></td>
            <td><%= course.capacity %></td>
            <td>
                <form method="POST" action="/student/register">
                    <input type="hidden" name="course_id" value="<%= course.course_id %>">
                    <button type="submit">Register</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>


</body>

</html>